 
 .container {
    width: auto;
    max-width: 680px;
    padding: 0 0;
  }

  .wrap  {
     width: auto;
     padding: 0 15px;
   }

   .wrap p {
    font-size:1.15em;
  }
 
 .footer {
    background-color: #f5f5f5;
  }
  